body {
  margin: 0;
  padding: 0;
  background: #111827;
  display: flex;
  justify-content: center;
  color: #ffffff;
}

.container {
  background: #1f2937;
  height: 45.563rem;
  width: 34.375rem;
  margin: 1%;
}

.upper-div {
  background: #6943ff;
  height: 17.813rem;
  width: 34.375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

heading {
  font-family: Inter;
  font-size: 28px;
  font-weight: 800;
  line-height: 38px;
  letter-spacing: -0.03em;
  text-align: center;
}

input {
  background-color: inherit;
  height: 5.188rem;
  width: 7.313rem;
  border: 1px solid white;
  color: white;
  text-align: center;
  margin-top: 2%;
  border-style: outset;
  font-size: 70px;
  padding-left: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  width: 7.625rem;
  height: 2.5rem;
  background: #ffffff;
  box-shadow: 5px 12px 5px rgb(0 0 0 / 54%);
  border-radius: 5px;
  color: #3d3d3d;
  border: 2px solid transparent;
  margin-top: 6%;
  box-sizing: border-box;
  border-style: outset;
}

.box {
  width: 31.25rem;
  height: 6.786rem;
  background: #273549;
  border-radius: 2px;
  margin: 24px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid transparent;
  box-sizing: border-box;
}

.box-heading {
  width: 21.625rem;
  height: 1.563rem;
  color: #ccc1ff;
  text-align: center;
  margin-bottom: 0px;
}

h3 {
  margin-bottom: 0;
}

.box:hover {
  border: 2px solid #6943ff;
}

button:hover {
  border: 2px solid #ffffff;
  border-style: inset;
}

@media (max-width: 590px) {
  .container {
    margin-top: 5px;
    width: 19rem;
  }

  .upper-div {
    width: 19rem;
    text-align: center;
  }

  .box {
    text-align: center;
    width: 16rem;
  }
}
